{% extends "baseLogin.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido2 %}

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            
                        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                        <div class="card bg-glass">
                            
                            <div class="card-body px-4 py-5 px-md-5">
                                <form class="login" id="formularioLogin" action="" method="POST">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button data-mdb-button-init data-mdb-ripple-init
                                        class="btnLogin" type="submit">Inicia
                                        sesión</button>
                                </form><br>
                                <p class="small mb-0 pb-lg-1"><a class="text-success-50 fw-bold" href="{% url 'password_reset' %}">Olvidaste tu
                                        Contraseña?</a>
                                </p>
                                <div>
                                    <p class="mt-5 text-success">No tienes cuenta?<a href="{% url 'registroUsuarios' %}"
                                            class="text-success-50 fw-bold"> Registrate aqui </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}     

