<!-- templates/registration/password_reset_done.html -->
{% extends 'baseContacto.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido6 %}
  <h2>Correo enviado</h2>
  <p>Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>

  <div data-js="astro" class="astronaut">
    <div class="head"></div>
    <div class="arm arm-left"></div>
    <div class="arm arm-right"></div>
    <div class="body">
      <div class="panel"></div>
    </div>
    <div class="leg leg-left"></div>
    <div class="leg leg-right"></div>
    <div class="schoolbag"></div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br>
  



  {% endblock %}
