{% extends 'baseContacto.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido6 %}
<h2>Restablecer la contraseña</h2>

<div data-js="astro" class="astronaut">
  <div class="head"></div>
  <div class="arm arm-left"></div>
  <div class="arm arm-right"></div>
  <div class="body">
    <div class="panel"></div>
  </div>
  <div class="leg leg-left"></div>
  <div class="leg leg-right"></div>
  <div class="schoolbag"></div>
</div>
<p>Introduce tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit">Enviar</button>

<div class="box">
  <button class="btn-29">Enviar</button>
  <div class="space">
    <span style="--i: 31" class="star"></span>
    <span style="--i: 12" class="star"></span>
    <span style="--i: 57" class="star"></span>
    <span style="--i: 93" class="star"></span>
    <span style="--i: 23" class="star"></span>
    <span style="--i: 70" class="star"></span>
    <span style="--i: 6" class="star"></span>
  </div>
</div>
</form>

<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><BR></BR>



{% endblock %}