
{% extends 'baseContacto.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido6 %}
  <h2>Contraseña restablecida</h2>
  <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes <button class="btn-30" ><a href="{% url 'login' %}">iniciar sesión</a></button> con tu nueva contraseña.</p>
  


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="planet">
      </div>
    </div>
  </div>
</div>
































  <br><br><br><br><br>  <br><br><br><br><br>    
  {% endblock %}
